@model AIDungeonPrompts.Application.Commands.CreateReport.CreateReportCommand
@using AIDungeonPrompts.Domain.Enums
@{
	ViewData["Title"] = "Report";
	var prompt = (AIDungeonPrompts.Application.Queries.GetPrompt.GetPromptViewModel)ViewData["prompt"];
}
<h2>Report @prompt.Title</h2>
<br />
<form asp-controller="Prompts" asp-action="Report" method="post">
	<input class="honey" name="Honey" />
	<div class="form-group required">
		@Html.LabelFor(m => m.ReportReason)
		<select class="form-control" asp-for="ReportReason" asp-items="Html.GetEnumSelectList<ReportReason>()"></select>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ExtraDetails)
		<textarea asp-for="ExtraDetails" class="form-control"></textarea>
		<span class="invalid-feedback" asp-validation-for="ExtraDetails"></span>
	</div>
	<div class="d-flex flex-row-reverse">
		<button type="submit" class="btn btn-lg btn-primary">Submit</button>
	</div>
</form>
