@model RegisterUserModel

<form asp-action="Register" method="post">
	@Html.HiddenFor(m => m.ReturnUrl)
	<input class="honey" name="Honey" />
	<div class="form-group required">
		@Html.LabelFor(m => m.Username)
		<input asp-for="Username" class="form-control" />
		<span class="invalid-feedback" asp-validation-for="Username"></span>
	</div>
	<div class="form-group required">
		@Html.LabelFor(m => m.Password)
		<input type="password" asp-for="Password" class="form-control" />
		<span class="invalid-feedback" asp-validation-for="Password"></span>
	</div>
	<div class="d-flex flex-row-reverse">
		<button type="submit" class="btn btn-lg btn-primary">Submit</button>
	</div>
</form>
