@model AIDungeonPrompts.Application.Queries.GetPrompt.GetPromptChild

<div class="card mb-4">
	<div class="card-body d-flex">
		<a class="w-100 text-info m-auto" asp-controller="Prompts" asp-action="View" asp-route-id="@Model.Id">
			<h5 class="m-0">@Model.Title</h5>
		</a>
		<div class="m-auto">
			<a class="btn btn btn-info" asp-controller="Prompts" asp-action="View" asp-route-id="@Model.Id">
				View
			</a>
		</div>
	</div>
</div>
