@model AIDungeonPrompts.Application.Queries.GetPrompt.GetPromptChild
@{
	var canEdit = ViewData["CanEdit"] != null ? (bool) ViewData["CanEdit"] : false;
	var canDelete = ViewData["CanDelete"] != null ? (bool) ViewData["CanDelete"] : false;
}
<div class="card mb-4">
	<div class="card-body d-flex">
		<h5 class="align-self-center mb-0 flex-grow-1 flex-shrink-1">
			@Model.Title
		</h5>
		@if (canEdit)
		{
			<div class="ml-auto">
				<a class="btn btn-outline-success" asp-action="Edit" asp-controller="Prompts" asp-route-id="@Model.Id">Edit</a>
			</div>
		}
		@if (canDelete)
		{
			<div class="@(canEdit ? "ml-2" : "ml-auto")">
				<button class="btn btn-outline-danger btn-delete" asp-fragment="sub-scenarios" asp-action="Delete" asp-controller="Prompts" asp-route-id="@Model.Id">Delete</button>
			</div>
		}
	</div>
</div>
