@model AIDungeonPrompts.Application.Commands.UpdatePrompt.UpdatePromptCommandWorldInfo
@{
	var disabled = ViewData["Disabled"] != null ? (bool)ViewData["Disabled"] : false;
}

<div class="card mb-4">
	<div class="card-body">
		<div class="form-group">
			@Html.LabelFor(m => m.Keys)
			<input readonly="@disabled" asp-for="Keys" class="form-control" />
			<span asp-validation-for="Keys"></span>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Entry)
			<textarea readonly="@disabled" asp-for="Entry" class="form-control"></textarea>
			<span asp-validation-for="Entry"></span>
		</div>
	</div>
</div>
