@{ ViewData["Title"] = "What's New"; }

<h2>What's New?</h2>
<br />

<div class="row">
	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{DATE TBD} - Release 1.2</h5>
				<ul>
					<li>Various layout changes - please let me know if this is better or worse for you.</li>
					<li>Front page is now just the search page - the old search page has been removed. Old searches should redirect to the new one.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">2020/11/15 - Release 1.1</h5>
				<ul>
					<li>Wrapped Prompt properties in code tags for easier copy pasting</li>
					<li>Front page is now just the search page - the old search page has been removed. Old searches should redirect to the new one.</li>
					<li>Added a report system - use this if someone posts your personal details or tries to post spam.</li>
					<li>We now have an actual domain: <a href="https://prompts.aidg.club/">https://prompts.aidg.club/</a>. The old url isn't going anywhere, but this one is much nicer.</li>
					<li>We've moved the Prompts from "/prompts" to just the root url. The old links should redirect to the new one.</li>
					<li>An issue where taking too long to submit the Create Prompt form would cause the submit to fail should be fixed - please let us know if it isn't!</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5>2020/11/15 - Release 1.0</h5>
				<ul>
					<li>Initial Release</li>
				</ul>
			</div>
		</div>
	</div>
</div>
