@{ ViewData["Title"] = "What's New"; }

<h2>What's New?</h2>
<br/>
<div class="row">
	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/12/29 - Release 1.8</h5>
				<ul>
					<li class="mb-3">
						You gotta ask yourself one question: "Do I feel lucky?" Well, do ya, punk?
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/12/27 - Release 1.7 (We're not dead!)</h5>
				<ul>
					<li class="mb-3">
						Merry Christmas and a Happy New Year! Things are moving slow but we're not dead (yet).
					</li>
					<li class="mb-3">
						For anyone contributing prompts, there is now a profile page. From here you can update your username/password, as well as also quickly view and edit all the prompts you've made. More changes to follow in the new year.
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/11/22 - Release 1.6</h5>
				<ul>
					<li class="mb-3">
						HOTFIX - Some account registrations had the username and password swapped (specifically accounts which were created without making a prompt first). All user accounts have been wiped. If you were already logged in, you won't lose access to your prompts, but you will need to reregister. I can only apologise for how much of a fuckup I am.
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/11/22 - Release 1.5</h5>
				<ul>
					<li class="mb-3">
						Prompts can now be edited by the user who created them. This is controlled by a browser cookie - if you clear your cookies, you won't be able to edit them afterwards. If you want to ensure you can always come back to edit your prompts, click the "Register" button in the top right. After setting your username and password to your liking, to edit your prompts you can sign in like any other website whenever you get signed out using "Log In" in the top right.
					</li>
					<li class="mb-3">
						To be clear, you can and always will be able to use the site 100% anonymously. All the old functionality remains as it was so long as you don't care about being locked out from editing old prompts. Usernames are only used for logging in - they are not displayed anywhere on website.
					</li>
					@*<li class="mb-3">
							All prompts made before accounts are orphaned. You can claim any of the orphaned prompts as yours. This is a good-will system; Please don't be a dick and claim prompts that aren't yours. Once claimed, they act like any prompt that you have made - again, if you wipe your browser cookies, you will lose access if you haven't setup a password as outlined above.
						</li>*@
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/11/18 - Release 1.4</h5>
				<ul>
					<li class="mb-3">Added dark mode - Change your preferred scheme using the footer.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/11/17 - Release 1.3</h5>
				<ul>
					<li class="mb-3">Hotfix - New Search Criteria should now be preserved between pages.</li>
					<li class="mb-3">Hotfix - Dropdown selection should now be preserved between pages.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/11/17 - Release 1.2</h5>
				<ul>
					<li class="mb-3">Various layout changes - please let us know in the thread if this is better or worse for you.</li>
					<li class="mb-3">The search options have increased - namely you can fuzzy search (i.e an exact match isn't needed) as well as search for posts containing any of your given tags, rather than only the ones that match all the given tags.</li>
					<li class="mb-3">Changed dates to a more international friendly version.</li>
					<li class="mb-3">Submitting a new prompt will now warn you if a prompt with the same name already exists.</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/11/15 - Release 1.1</h5>
				<ul>
					<li class="mb-3">Wrapped Prompt properties in code tags for easier copy pasting.</li>
					<li class="mb-3">Front page is now just the search page - the old search page has been removed. Old searches should redirect to the new one.</li>
					<li class="mb-3">Added a report system - use this if someone posts your personal details or tries to post spam.</li>
					<li class="mb-3">We now have an actual domain: <a href="https://prompts.aidg.club/">https://prompts.aidg.club/</a>. The old url isn't going anywhere, but this one is much nicer.</li>
					<li class="mb-3">We've moved the Prompts from "/prompts" to just the root url. The old links should redirect to the new one.</li>
					<li class="mb-3">An issue where taking too long to submit the Create Prompt form would cause the submit to fail should be fixed - please let us know in the thread if it isn't!</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-12 mb-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title mb-3">2020/11/15 - Release 1.0</h5>
				<ul>
					<li class="mb-3">Initial Release.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
