# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.AIDungeonPrompts.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\dotnet\AIDungeonPrompts\.idea\.idea.AIDungeonPrompts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
